/* assets/css/admin-styles.css */

.automatik_blog-admin-wrapper h1 {
    color: #A000CD; /* Roxo da Automatik Blog */
}

.automatik_blog-admin-wrapper h2 {
    color: #A000CD; /* Roxo */
}

.automatik_blog-admin-wrapper .form-table th {
    color: #000; /* Preto */
}

.automatik_blog-admin-wrapper .form-table td {
    color: #000; /* Preto */
}

.automatik_blog-admin-wrapper input[type="text"],
.automatik_blog-admin-wrapper textarea {
    border: 1px solid #A000CD; /* Roxo */
    background-color: #fff; /* Branco */
    color: #000; /* Preto */
}

.automatik_blog-admin-wrapper .button-primary {
    background-color: #A000CD; /* Roxo */
    border-color: #A000CD;
    color: #fff; /* Branco */
}

.automatik_blog-admin-wrapper .button-primary:hover {
    background-color: #8200A3; /* Tom mais escuro de roxo */
    border-color: #8200A3;
}

.automatik_blog-admin-wrapper textarea {
    font-family: monospace;
    color: #000;
    background-color: #fff;
    border: 1px solid #A000CD;
}
